.jd-layout {
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    /*height: 1000px;*/
    background-color: #eeeeee;
}

.jd-search {
    width: 100%;
    height: 40px;
    max-width: 640px;
    min-width: 320px;
    position: fixed;
    /*background-color: #e92322;*/
    background-color: transparent;
    z-index: 999;
}

.jd-logo {
    width: 56px;
    height: 30px;
    display: block;
    position: absolute;
    left: 10px;
    top: 5px;
    background: url("../images/jd-sprites.png") no-repeat 0 -105px;
    -webkit-background-size: 200px 200px;
    background-size: 200px 200px;
}

.jd-login {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;
    line-height: 40px;
    color: #ffffff;
}

.jd-search-box {
    width: 100%;
    height: 100%;
    padding: 0 50px 0 76px;
    position: relative;
}

.jd-search-box > input {
    width: 100%;
    height: 30px;
    margin-top: 5px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding-left: 30px;
    font-size: 14px;
    color: #666666;
}

.jd-search-box:before {
    content: "";
    position: absolute;
    display: block;
    width: 27px;
    height: 23px;
    background: url("../images/jd-sprites.png") no-repeat -56px -105px;
    -webkit-background-size: 200px 200px;
    background-size: 200px 200px;
    top: 6px;
    left: 81px;
}

.jd-banner {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.jd-banner-img {
    width: 800%;
}

.jd-banner-img > li {
    width: 12.5%;
    float: left;
}

.jd-banner-img > li img {
    width: 100%;
}

.jd-banner-indicator {
    position: absolute;
    width: 128px;
    height: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 5px;
}

.jd-banner-indicator > li {
    width: 6px;
    height: 6px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #ffffff;
    float: left;
    margin-left: 10px;
}

.jd-banner-indicator > li:first-child {
    margin-left: 0;
}

.jd-banner-indicator > li.active {
    background-color: #ffffff;
}

.jd-nav {
    width: 100%;
    padding: 10px 0;
    background-color: #ffffff;
}

.jd-nav li {
    float: left;
    width: 25%;
    text-align: center;
    margin-top: 5px;
}

.jd-nav li img {
    width: 50px;
}

.jd-nav li p {
    line-height: 25px;
}

.jd-product {
    width: 100%;
}

.jd-product-box {
    width: 100%;
    margin-top: 7px;
    background-color: #ffffff;
    -webkit-box-shadow: 1px 1px 1px #cccccc;
    -moz-box-shadow: 1px 1px 1px #cccccc;
    box-shadow: 1px 1px 1px #cccccc;
}

.jd-product-box > .jd-pTip {
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #eeeeee;
    color: #666666;
    padding-left: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.jd-product-box > .jd-pTip > h3 {
    position: relative;
    width: 100%;
    font-size: 14px;
}

.jd-product-box > .jd-pTip  > h3:before {
    content: "";
    position: absolute;
    width: 3px;
    height: 12px;
    background-color: #e92322;
    left: -8px;
    top: 9px;
}

.jd-product-box > .jd-pContent a {
    width: 50%;
    display: block;
}

.jd-product-box > .jd-pContent img {
    width: 100%;
}

.jd-product-box > .jd-pContent > .border-l {
    border-left: 2px solid #eeeeee;
}

.jd-product-box > .jd-pContent > .border-r {
    border-right: 2px solid #eeeeee;
}

.jd-product-box > .jd-pContent > .border-b {
    border-bottom: 2px solid #eeeeee;
}

/* 设置京东秒杀块的样式标记 */
.jd-sk {}

.jd-sk > .jd-pTip {
    border-bottom: none;
    padding: 0;
}

.jd-sk > .jd-pTip .jd-sk-icon {
    display: inline-block;
    width: 16px;
    height: 20px;
    background: url("../images/seckill-icon.png") no-repeat;
    -webkit-background-size: 16px 20px;
    background-size: 16px 20px;
    margin-top: 4px;
    margin-left: 10px;
}

.jd-sk > .jd-pTip .jd-sk-text {
    color: #e92322;
    margin-left: 8px;
}

.jd-sk > .jd-pTip .jd-sk-time {
    margin-left: 8px;
}

.jd-sk-time > span {
    display: inline-block;
    width: 12px;
    height: 18px;
    line-height: 18px;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
}

.jd-sk-time > span:nth-child(3n) {
    color: #000000;
    background-color: transparent;
    width: 4px;
}

.jd-sk .title-right {
    margin-right: 10px;
}

.jd-sk .jd-pContent {
    padding: 20px;
}

.jd-sk .jd-pContent > ul {
    width: 100%;
}

.jd-sk .jd-pContent li {
    width: 33.33%;
    float: left;
    text-align: center;
    border-right: 1px solid #cccccc;
}

.jd-sk .jd-pContent li:last-child {
    border-right: none;
}

.jd-sk .jd-pContent li a {
    margin: 0 auto;
    padding-bottom: 3px;
}

.jd-sk .jd-pContent .sk-before {
    text-decoration: line-through;
}
